NET "Clk" LOC = P60;
NET "SCLK" LOC = P42; #JB0
NET "MISO" LOC = P43; #JB1
NET "MOSI" LOC = P44; #JB2
NET "CS"   LOC = P45; #JB3

NET "led_red"   LOC = P49; # JB4
NET "led_green" LOC = P50; # JB5
NET "led_blue"  LOC = P51; # JB6

#NET "PWM_motor" LOC = M16; # JB7

#NET "led_red"  LOC = J14;
#NET "LED_green" LOC = J15;
#NET "LED_blue"  LOC = K15;


NET "MAX_LED_r" LOC = P69;
NET "MAX_LED_g" LOC = P71;
NET "MAX_LED_b" LOC = P72;

