NET "CLK" LOC = B8;
#JB0
NET "SCLK" LOC = M13;
#JB1
NET "MISO" LOC = R18;
#JB2
NET "MOSI" LOC = R15;
#JB3
NET "CS" LOC = T17;

# JB4
NET "led_red" LOC = R4;
# JB5
NET "led_green" LOC = F4;
# JB6
NET "led_blue" LOC = P15;

#NET "PWM_motor" LOC = M16; # JB7

#NET "led_red"  LOC = J14;
#NET "LED_green" LOC = J15;
#NET "LED_blue"  LOC = K15;


#P15;
NET "MAX_LED_r" LOC = K15;
#F4;
NET "MAX_LED_g" LOC = J15;
#R4;
NET "MAX_LED_b" LOC = J14;

