NET "forward_i" LOC = P42;
NET "reset_i"   LOC = P43;
NET "clk_50mhz" LOC = P60;

NET "led_o<0>" LOC = P44;
NET "led_o<1>" LOC = P45;
NET "led_o<2>" LOC = P49;
NET "led_o<3>" LOC = P50;
NET "led_o<4>" LOC = P51;
NET "led_o<5>" LOC = P54;
