//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 10 10:12:11 2015
//! **************************************************************************

SCHEMATIC START;
COMP "led1_o" LOCATE = SITE "P47" LEVEL 1;
COMP "led2_o" LOCATE = SITE "P48" LEVEL 1;
COMP "clk_50mhz" LOCATE = SITE "P60" LEVEL 1;
SCHEMATIC END;

