//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 08 22:45:18 2015
//! **************************************************************************

SCHEMATIC START;
COMP "Led<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "K15" LEVEL 1;
SCHEMATIC END;

