NET "forward_i" LOC = D18;
NET "reset_i" LOC = B18;
NET "clk_50mhz" LOC = B8;

NET "led_o[0]" LOC = J14;
NET "led_o[1]" LOC = J15;
NET "led_o[2]" LOC = K15;
NET "led_o[3]" LOC = K14;
NET "led_o[4]" LOC = E17;
NET "led_o[5]" LOC = P15;
