//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 30 19:36:59 2015
//! **************************************************************************

SCHEMATIC START;
COMP "CLK_50M_I" LOCATE = SITE "P60" LEVEL 1;
COMP "XB_SERIAL_I" LOCATE = SITE "P88" LEVEL 1;
COMP "XB_SERIAL_O" LOCATE = SITE "P90" LEVEL 1;
SCHEMATIC END;

