//! **************************************************************************
// Written by: Map P.20131013 on Fri Sep 11 18:10:30 2015
//! **************************************************************************

SCHEMATIC START;
COMP "forward_i" LOCATE = SITE "P42" LEVEL 1;
COMP "clk_50mhz" LOCATE = SITE "P60" LEVEL 1;
COMP "led_o[0]" LOCATE = SITE "P44" LEVEL 1;
COMP "led_o[1]" LOCATE = SITE "P45" LEVEL 1;
COMP "led_o[2]" LOCATE = SITE "P49" LEVEL 1;
COMP "led_o[3]" LOCATE = SITE "P50" LEVEL 1;
COMP "led_o[4]" LOCATE = SITE "P51" LEVEL 1;
COMP "reset_i" LOCATE = SITE "P43" LEVEL 1;
COMP "led_o[5]" LOCATE = SITE "P54" LEVEL 1;
SCHEMATIC END;

