NET  "CLK"  LOC = P60;
NET  "MOSI" LOC = P45; 
NET  "SCLK" LOC = P43;
NET  "CS"   LOC = P44;
NET  "MISO" LOC = P71;
NET  "debug_led<0>" LOC = P49;
NET  "debug_led<1>" LOC = P50;
NET  "debug_led<2>" LOC = P51;
NET  "debug_led<3>" LOC = P54;
NET  "debug_led<4>" LOC = P55;
NET  "debug_led<5>" LOC = P57;
NET  "debug_led<6>" LOC = P58;
NET  "debug_led<7>" LOC = P59;
NET  "debug_led<8>" LOC = P68;
NET  "debug_led<9>" LOC = P69;
